@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
	box-sizing: border-box;
}

body{
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

ul{
	list-style: none;
	padding: 0;
}
a{
	text-decoration: none;
}

h1,h2, h3, figure, ul{
	margin: 0;
}


.btn{
	display: inline-flex;
	align-items: center;
	padding: 1.5rem;
	min-width: 200px;
	font-size: 14.4px;
	background-color: #e4bb23;
	border-radius: 4rem;
}

.btn > span{
	margin: 0 auto;
	transform: translateX(1.5em);
}
.btn > .fa{
	font-size: 1.5em;
	margin-left: 1em;
}
.btn:hover{
	background-color: #bc9a1d;
}

.container{
	margin: 0 auto;
	width: 960px;
}

.color-white{
	color: #fff;
}
.color-1{
	color: #bc9a1d;
}

.container--flex{
	display: flex;
	justify-content: space-between;
}

.d-flex{
	display: flex;
}

.align-items-center{
	align-items: center;
}

.flex-column{
	flex-direction: column;
}
.h-100{
	height: 100%;
}

.fa{
	color: #ccc;
	cursor: pointer;
}

.fa-play-circle-o{
	color: #000;
}

.fa-play{
	color: #fff;
	font-size: 5em;
}

.fa-play:hover{
	color: #e4bb23;
}

.fa-twitter:hover{
	color: #55acee;
}

.fa-facebook-official:hover{
	color: #3b5998;
}

.fa-instagram:hover{
	color: #e95950;
}

.fa-heart:hover{
	color: #e74c3c;
}

.font-w-bold{
	font-weight: bold;
}


.footer{
	padding: 2rem 0;
}


.footer__social-item{
	margin-left: 4rem;
}

.text-uppercase{
	text-transform: uppercase;
}
.feature__title{
	font-size: 6.5em;
	margin-bottom: 2rem;
}

.feature__genre{
	margin-bottom: 3rem;
	font-size: 1.3em;
}

.feature__genre-link{
	margin-right: 2rem;
}

.feature__genre-link:hover{
	color: #e4bb23;
}

.feature__info{
	padding: 2rem 0;
	font-size: 1.4em;
}


.main{
	background-color: #f2f2f2;
}

.releases{
	display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}

.releases__item{
	margin: 0 2rem;
	display: flex;
}

.releases__item .menu-link{
	padding: 2rem 0;
	border: solid transparent;
	border-width: 1px 0;
}

.releases__item a:hover{
	border-bottom-color: currentColor;
}



.hover-transition, .fa{
	transition: all 0.2s ease-in-out;
}

.header{
	height: 90vh;
	max-height: 850px;
	padding: 2rem;
	position: relative;
}

.header::before, .header::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.header::before{
	background: url(../img/capa-madmax2.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: -2;
}

.header::after{
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 75%
	);
	z-index: -1;
}

.header__menu{
	display: flex;
	align-items: center;
    justify-content: space-between;
	margin-bottom: 2rem;
}

.header__menu .menu-link{
	margin: 0 2rem;
}

.menu-link{
	color: #e4bb23;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.menu-link:hover{
	color: #e4bb23;
}

.header__user{
	display: flex;
	align-items: center;
}

.header__user-avatar{
	border-radius: 50%;
	height: 45px;
	width: 45px;
	margin-right: 15px;
	overflow: hidden;
}

.header__user-name{
	font-size: 1.3em;
}

.movie__info{
	padding: 1rem;
}

.movie__title{
	font-size: 1.3em;
	margin: 0;
	text-transform: uppercase;
}

.movie__genre{
	margin: 0.6280px 0;
	display: flex;
	color: #e4bb23;
}

.movie__genre-item{
	font-size: 1.2em;
	color: currentColor;
}

.movie__genre-item:hover{
	text-decoration: underline;
}

.movie__rating{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	font-size: 2em;
}

.movie__poster-overlay{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 8rem 2rem;
	text-align: center;
	font-weight: bold;
	color: #e4bb23;
	visibility: hidden;
	text-transform: uppercase;
	opacity: 0;
	z-index: 10;
}

.movie__poster-overlay span{
	display: block;
	font-size: 2em;
	margin: 1em 0;
}

.movie:hover .movie__poster-overlay{
	opacity: 1;
	visibility: visible;
}

.movie-list{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3rem;
}

.movie{
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 3rem;
	overflow: hidden;
	width: 230px;
	height: 340px;
}



.social-icon{
	font-size: 2.5em;
}


.p-relative{
	position: relative;
}

.p-absolute-full{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

